<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Recipe Book</title>

    <!--Google icon font call-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Materialize css 0.100.2 call-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!--link to the css files in the static folder-->
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/dc.min.css')}}" type="text/css" />

</head>

<body>
    <header>
        <nav id="top" class="z-depth-0">
            <div class="nav-wrapper">
                <a href="{{url_for('login')}}" class="brand-logo left">Recipe Book</a>
                <a href="#" data-activates="mobile-nav" class="button-collapse right"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="{{url_for('user_page', username=username)}}">Home</a></li>
                    <li><a href="{{url_for('browse', username=username)}}">Browse</a></li>
                    <li><a href="{{url_for('analytics_page', username=username)}}">Analytics</a></li>
                    <li><a href="{{url_for('login')}}">Log out</a></li>
                </ul>
                <ul class="side-nav" id="mobile-nav">
                    <li><a href="{{url_for('user_page', username=username)}}">Home</a></li>
                    <li><a href="{{url_for('browse', username=username)}}">Browse</a></li>
                    <li><a href="{{url_for('analytics_page', username=username)}}">Analytics</a></li>
                    <li><a href="{{url_for('login')}}">Log out</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <!--Container for the block content-->
    <section class="container">
        <!--Content from other templates will go here-->
        {% block content %} {% endblock %}
    </section>

    <footer class="footer">
        <div class="container">
            <div class="row no-margin">
                <div class="col s4 offset-s4 footer-margin center-align">
                    <a href="#top" class="footer-text">Back to the top ^</a>
                </div>
            </div>
        </div>
    </footer>

    <!--Initialise JS files-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <!--Materialize initialisation scripts-->
    <script type="text/javascript">
        $(document).ready(function() {
            $('select').material_select();
            $(".button-collapse").sideNav();
            $('.collapsible').collapsible();
        });
    </script>
    <!--Any page specific js calls can go here-->
    {% block jscalls %} {% endblock %}
</body>

</html>
