<!DOCTYPE html>
<html lang="en">

<head>
    <!--Google icon font call-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Materialize css 0.100.2 call-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!--link to the style.css file in the static folder-->
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Recipes.Com</title>
</head>

<body>
    <div class="container">
    {% block content %} {% endblock %}
    </div>
    
    <!--Initialise jQuery 3.2.1-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!--Materialize js 0.100.2 call-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

</body>

</html>
