{% extends 'base.html' %} {% block content %}

<div class="row section-spacing">
    <div class="col s12 page-heading">
        <h4>Browse our recipes!</h4>
    </div>
</div>
<!--Filter options-->
<div class="row">
    <ul class="collapsible z-depth-0" data-collapsible="accordion">
        <li>
            <div class="collapsible-header left-section-box"><i class="material-icons">keyboard_arrow_down</i> Filter
            </div>
            <div class="collapsible-body section-box">
                <form action="{{url_for('filter_recipes', username=username, source='browse.html')}}" method="POST">
                    <div class="row">
                        <!--Cuisine filter-->
                        <div class="col s4">
                            <div class="input-field col s12">
                                <select id="cuisine" name="cuisine">
                                    <option value="all" selected>All</option>
                                    {% for c in cuisine %}
                                    {% if active_filters and active_filters.cuisine.lower() == c.name %}
                                    <option selected value="{{c.name}}">{{c.name.capitalize()}}</option>
                                    {% else %}
                                    <option value="{{c.name}}">{{c.name.capitalize()}}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                                <label for="cuisine">Cuisine</label>
                            </div>
                        </div>
                        <!--Allergens filter-->
                        <div class="col s4">
                            <div class="input-field col s12">
                                <select id="allergens" name="allergens">
                                    <option value="all" selected>All</option>
                                    {% for allergen in allergens %}
                                    {% if active_filters and active_filters.allergens.lower() == allergen.name%}
                                    <option selected value="{{allergen.name}}">{{allergen.name.capitalize()}}</option>
                                    {% else %}
                                    <option value="{{allergen.name}}">{{allergen.name.capitalize()}}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                                <label for="allergens">Allergen*</label>
                            </div>
                        </div>
                        <!--Time filter-->
                        <div class="col s4">
                            <div class="input-field col s12">
                                <select id="time" name="time">
                                    <option value="0-180" selected>Any</option>
                                    {% for time in time_options %}
                                    {% if active_filters and active_filters.time == time %}
                                    <option selected value="{{time}}">{{time}}</option>
                                    {% else %}
                                    <option value="{{time}}">{{time}}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                                <label for="time">Time (mins)</label>
                            </div>
                        </div>
                        <!--Servings filter-->
                        <div class="col s6">
                            <div class="input-field col s12">
                                <select id="servings" name="servings">
                                    <option value="0-20" selected>Any</option>
                                    {% for servings in servings_options%}
                                    {% if active_filters and active_filters.servings == servings %}
                                    <option selected value="{{servings}}">{{servings}}</option>
                                    {% else %}
                                    <option value="{{servings}}">{{servings}}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                                <label for="servings">Servings</label>
                            </div>
                        </div>
                        <!--Calories filter-->
                        <div class="col s6">
                            <div class="input-field col s12">
                                <select id="calories" name="calories">
                                    <option value="0-1000" selected>Any</option>
                                    {% for calories in calories_options%}
                                    {% if active_filters and active_filters.calories == calories %}
                                    <option selected value="{{calories}}">{{calories}}</option>
                                    {% else %}
                                    <option value="{{calories}}">{{calories}}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                                <label for="calories">Calories (per serving)</label>
                            </div>
                        </div>
                        <div class="col s12">
                            <p>* This will be removed from the search</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s3">
                            <button class="waves-effect waves-light btn z-depth-0" type="submit" name="action">Filter
                                <i class="material-icons left">search</i>
                            </button>
                        </div>
                        <div class="col s3">
                            <a href="{{url_for('browse', username=username)}}" class="waves-effect waves-light btn del-btn del-color z-depth-0"><i class="material-icons del-color left">delete</i>Remove Filter</a>
                        </div>
                    </div>
                </form>
            </div>
        </li>
    </ul>
</div>
<div class="row">
    <div class="col s12 recipe-box">
        <div class="collection">
            {% if recipes.count() > 0 %} {% for recipe in recipes %}
            <a href="{{url_for('recipe_details', username=username, source='user_page', recipe_id=recipe._id)}}" class="collection-item">
                <div class="row recipe-entry">
                    <div class="valign-wrapper center-align">
                        <div class="col s4 recipe-title">
                            <p><i class="material-icons recipe-icon">fastfood</i> {{recipe.title}}</p>
                        </div>
                        <div class="col s3 recipe-info">
                            <p><i class="material-icons recipe-icon">timer</i> {{recipe.time}} min(s)</p>
                        </div>
                        <div class="col s3 recipe-info">
                            <p><i class="material-icons recipe-icon">person</i> {{recipe.servings}} serving(s)</p>
                        </div>
                        <div class="col s1">
                            <i class="material-icons recipe-icon">thumb_up</i> {{recipe.upvotes}}
                        </div>
                        <div class="col s1">
                            <i class="material-icons recipe-icon">remove_red_eye</i> {{recipe.views}}
                        </div>
                    </div>
                </div>
            </a> {% endfor %} {% else %}
            <div class="collection-item">Oh no! No matching recipe found!
                <a href="{{url_for('add_recipe', username=username.lower())}}">Be the first to add one?</a></div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
