{% extends 'base.html' %} {% block content %}

<div class="row">
    <div class="col s12 l6 offset-l3 page-heading">
        <h4>Edit your recipe</h4>
    </div>
</div>
<div class="row">
    <div class="col s12 section-box">
        <form action="{{url_for('update_recipe', username=username, recipe_id=recipe._id)}}" method="POST">
            <div class="row form-top">
                <div class="input-field col s12">
                    <i class="material-icons prefix">title</i>
                    <input required id="title" name="title" type="text" class="validate" value="{{recipe.title}}">
                    <label for="title">Title</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">add_a_photo</i>
                    <input required id="imageURL" name="imageURL" type="text" class="validate" value="{{recipe.imageURL}}">
                    <label for="title">Image (URL)</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 l6">
                    <i class="material-icons prefix">fastfood</i>
                    <select required id="cuisine" name="cuisine">
                    <option value="" disabled>Choose your option</option>
                    
                    {% for c in cuisine %}
                        {% if c.name == recipe.cuisine.lower() %}
                            <option value="{{c.name.capitalize()}}" selected>{{c.name.capitalize()}}</option>
                        {% else %}
                            <option value="{{c.name.capitalize()}}">{{c.name.capitalize()}}</option>
                        {% endif %}
                    {% endfor %}
                    
                </select>
                    <label>Cuisine</label>
                </div>
                <div class="input-field col s12 l6">
                    <i class="material-icons prefix">report_problem</i>
                    <select required id="allergen" name="allergen">
                    <option value="" disabled>Choose your option</option>
                    
                    {% for allergen in allergens %}
                    {% if allergen.name == recipe.allergen.lower() %}
                        <option value="{{allergen.name.capitalize()}}" selected>{{allergen.name.capitalize()}}</option>
                    {% else %}
                        <option value="{{allergen.name.capitalize()}}">{{allergen.name.capitalize()}}</option>
                    {% endif %}
                    {% endfor %}
                    
                </select>
                    <label>Allergens</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 l6">
                    <i class="material-icons prefix">people</i>
                    <div class="range-box">
                        <p class="range-field center-align">
                            <input type="range" id="servings" name="servings" min="0" max="20" value="{{recipe.servings}}" />
                        </p>
                    </div>
                    <label for="servings">Servings</label>
                </div>
                <div class="input-field col s12 l6">
                    <i class="material-icons prefix">timer</i>
                    <div class="range-box">
                        <p class="range-field center-align">
                            <input type="range" id="time" name="time" min="1" max="180" value="{{recipe.time}}" />
                        </p>
                    </div>
                    <label for="time">Time (Minutes)</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">text_fields</i>
                            <textarea required id="description" name="description" class="materialize-textarea">{{recipe.description}}</textarea>
                            <label for="description">Description</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">list_alt</i>
                            <textarea required id="ingredients" name="ingredients" class="materialize-textarea">{{recipe.ingredients}}</textarea>
                            <label for="ingredients">Ingredients</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">assignment</i>
                            <textarea required id="instructions" name="instructions" class="materialize-textarea">{{recipe.instructions}}</textarea>
                            <label for="instructions">Instructions</label>
                        </div>
                    </div>
                </div>
            </div>
            <h5>Nutritional Info</h5>
            <div class="row">
                <div class="input-field col s12 l3">
                    <div class="range-box">
                        <p class="range-field center-align">
                            <input type="range" id="carbs" name="carbs" min="0" max="200" value="{{recipe.carbs}}" />
                        </p>
                    </div>
                    <label for="carbs">Carbs (g)</label>
                </div>
                <div class="input-field col s12 l3">
                    <div class="range-box">
                        <p class="range-field center-align">
                            <input type="range" id="protein" name="protein" min="0" max="200" value="{{recipe.protein}}" />
                        </p>
                    </div>
                    <label for="time">Protein (g)</label>
                </div>
                <div class="input-field col s12 l3">
                    <div class="range-box">
                        <p class="range-field center-align">
                            <input type="range" id="fat" name="fat" min="0" max="200" value="{{recipe.fat}}" />
                        </p>
                    </div>
                    <label for="fat">Fat (g)</label>
                </div>
                <div class="input-field col s12 l3">
                    <div class="range-box">
                        <p class="range-field center-align">
                            <input type="range" id="calories" name="calories" min="0" max="1000" value="{{recipe.calories}}" />
                        </p>
                    </div>
                    <label for="calories">Calories (per serving)</label>
                </div>
            </div>
            <div class="col s6 l4">
                <button class="waves-effect waves-light btn z-depth-0 btn-margin" type="submit" name="action">Update
                    <i class="material-icons left">check_circle</i>
                </button>
            </div>
            <div class="col s6 l4">
                <a href="{{url_for('recipe_details', username=username, source=source, recipe_id=recipe._id)}}" class="waves-effect waves-light btn z-depth-0 btn-margin"><i class="material-icons left">exit_to_app</i>Go back</a>
            </div>
            <div class="col s12 l4">
                <a href="{{url_for('delete_recipe', username=username, recipe_id=recipe._id)}}" class="waves-effect waves-light btn z-depth-0 del-btn del-color btn-margin"><i class="material-icons del-color left">delete</i>Delete</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}
