<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Recipe Book</title>
    
    <!--Google icon font call-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Materialize css 0.100.2 call-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!--link to the style.css file in the static folder-->
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
</head>

<body>
    <header>
        <nav id="top" class="z-depth-0">
            <div class="nav-wrapper">
                <a href="{{url_for('login')}}" class="brand-logo">Recipe Book</a>
            </div>
        </nav>
    </header>
    <div class="container screen-height section-spacing">
        <div class="row page-heading">
            <div class="col s6 offset-s3">
                <h4>Welcome to Recipe Book!</h4>
            </div>
        </div>
        {% for message in get_flashed_messages()%} 
        <div class="row">
            <div class="col s6 offset-s3 flash-message">
                {{ message }}
            </div>
        </div>
        {% endfor %}
        <div class="row">
            <form action="{{url_for('get_user')}}" method="POST" class="col s6 offset-s3 section-box">
                <div class="row">
                    <div class="col s12">
                        <h5>Already a user?</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="username" name="username" type="text" class="validate">
                        <label class="label-color" for="username">Username</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s5">
                        <button class="waves-effect waves-light btn z-depth-0" type="submit" name="action">Log in
                    <i class="material-icons left">check_circle</i>
                </button>
                    </div>
                    <div class="col s5 right">
                        <a href="{{url_for('register')}}" class="waves-effect waves-light btn z-depth-0"><i class="material-icons left">assignment</i>Register</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--Initialise jQuery 3.2.1-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!--Materialize js 0.100.2 call-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>

</html>
