{% extends 'base.html' %} {% block content %}

<div class="row">
    <div class="col s6 offset-s3">
        <h4>Register for an account</h4>
    </div>
</div>
<div class="row">
    <form action="{{url_for('insert_user')}}" method="POST" class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">account_circle</i>
                <input required id="username" name="username" type="text" class="validate">
                <label for="username">Username</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">person</i>
                <input required id="firstname" name="firstname" type="text" class="validate">
                <label for="firstname">First Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">people</i>
                <input required id="lastname" name="lastname" type="tel" class="validate">
                <label for="lastname">Last Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">not_listed_location</i>
                <input required id="country" name="country" type="text" class="validate">
                <label for="country">Country of Residence</label>
            </div>
        </div>
        <div class="col s3 offset-s3">
            <button class="waves-effect waves-light btn" type="submit" name="action">Create Account
                    <i class="material-icons left">check_circle</i>
                </button>
        </div>
        <div class="col s3">
            <a href="{{url_for('login')}}" class="waves-effect waves-light btn blue"><i class="material-icons left">assignment</i>Go back</a>
        </div>
    </form>
</div>

{% endblock %}
